<div class="content-container">
  <app-list-header title="Heroes" (add)="enableAddMode()" (refresh)="getHeroes()"></app-list-header>
  <div class="columns is-multiline is-variable">
    <div class="column is-6" *ngIf="heroes$ | async as heroes">
      <div *ngIf="!selected">
        <app-hero-list [heroes]="heroes" [selectedHero]="selected" (selected)="select($event)" (deleted)="delete($event)"></app-hero-list>
      </div>
      <div *ngIf="selected">
        <app-hero-detail [hero]="selected" (unselect)="clear()" (save)="save($event)"></app-hero-detail>
      </div>
      <!-- <router-outlet></router-outlet> -->
      <!-- <Switch>
        <Route exact path="/heroes" component={()=> (
          <HeroList heroes={heroes} selectedHero={selectedHero} handleSelectHero={this.handleSelectHero}
            handleDeleteHero={this.handleDeleteHero} />
          )}
          />
          <Route exact path="/heroes/:id" component={()=> {
            return (
            <HeroDetail hero={selectedHero} handleCancelHero={this.handleCancelHero} handleSaveHero={this.handleSaveHero}
              key={selectedHero && selectedHero.id} />
            );
            }}
            />
      </Switch> -->
    </div>
  </div>

  <!-- {showModal && (
  <ModalYesNo message={`Would you like to delete ${heroToDelete.name}?`} onClick={this.handleModalReponse} />
  )} -->
</div>
